   
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Favorite food</mat-label><br>
          <input matInput placeholder="Ex. Pizza">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label><br><br>
          <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
        
    </form>
<br>
    <div class="example-button-row">
        <button mat-raised-button  id="b-color">Send</button>
    </div>